*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
background: radial-gradient(circle,rgba(42, 123, 155, 0.94) 0%, rgba(87, 199, 133, 0.84) 50%, rgba(220, 208, 100, 0.6) 100%);
}
header{
    margin-top: 100px;
    text-align: center;
}
.main_body{
    width: 90%;
    max-width: 470px;
    margin: 20px auto 0;
    text-align: center;
    color: #fff;
    background: linear-gradient(135deg,#00feba,#5b548a);
    border-radius: 20px;
    padding: 40px 35px;
}
.search_section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search_section input{
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #555;
    flex: 1;
    margin-right: 16px;
}
.search_section #search_btn{
    cursor: pointer;
}
.error_message{
    text-align: center;
    margin-top: 10px;
    display: none;
}
.weather_updates_section h1{
    font-size: 60px;
    font-weight: 500;
}
.weather_updates_section h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
}
.details_para{
    font-size: 20px;
    margin-top: -6px;
}
.weather_icon{
    height: 200px;
}
.img_size{
    height: 40px;
    margin-right: 10px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}
.details .col{
    display: flex;
    align-items: center;
    text-align: left;
}